/* Reusable Styles */
$stat-colors: (
    hp: #e63946,
    attack: #f77f00,
    defense: #00b4d8,
    special-attack: #9c27b0,
    special-defense: #4caf50,
    speed: #8338ec,
    exp: #43aa8b,
);

%card-size {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
}

%type-shadow {
    text-shadow:
        0 0 3px rgba(0, 0, 0, 0.6),
        1px 1px 2px rgba(0, 0, 0, 0.4);
}

@mixin transform($transform, $bgcolor: null, $color: null) {
    background-color: $bgcolor;
    transform: $transform;
    box-shadow: $color;
}

@mixin display-gap($display, $gap) {
    display: $display;
    gap: $gap;
}

@mixin responsive-view($breakpoint, $width, $gap: 0.8rem) {
    @media (max-width: $breakpoint) {
        .pokemon-grid {
            .pokemon-card {
                flex: 1 1 calc(#{$width} - #{$gap});
                max-width: calc(#{$width} - #{$gap});
            }
        }
    }
}

/* Pokemon Container Styles */
.pokedex-container {
    margin: 0 auto;
    background-image: url('../../../assets/pokeball-bg-red.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
    height: 100%;

    .search-section {
        margin: 2rem 0 1rem;
    }

    .pokemon-grid {
        @include display-gap(grid, 2rem);
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        padding: 2rem 2rem 1rem;

        .card {
            perspective: 1000px;
            height: 320px;
            cursor: pointer;
            transition: box-shadow 0.3s ease;

            &.flipped .card-content {
                @include transform(rotateY(180deg));
            }

            .card-content {
                height: 100%;
                border-radius: 0.5rem;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                transition: transform 0.6s ease-in-out;
                transform-style: preserve-3d;
                position: relative;

                .card-front {
                    @extend %card-size;

                    .pokemon-image {
                        padding: 20px;
                        text-align: center;
                        background: rgba(255, 255, 255, 0.2);
                        border-radius: inherit;

                        img {
                            width: 100%;
                            max-width: 175px;
                            height: auto;
                            object-fit: contain;
                        }
                    }

                    .pokemon-info {
                        padding: 0.5rem 1rem;
                        color: #fff;
                        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);

                        .pokemon-name {
                            margin: 5px 0 10px;
                            font-size: 1.2rem;
                            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
                        }

                        .pokemon-types {
                            @include display-gap(flex, 0.5rem);

                            .type-badge {
                                padding: 0.4rem 0.7rem 0.4rem 0.4rem;
                                border-radius: 0.5rem;
                                font-weight: 600;
                                display: inline-block;
                                transition: all 0.3s ease;

                                .type-icon {
                                    @extend %type-shadow;
                                    font-size: 1.2em;
                                    line-height: 1;
                                }

                                .type-name {
                                    @extend %type-shadow;
                                }
                            }
                        }
                    }
                }

                .card-back {
                    @extend %card-size;
                    @include transform(rotateY(180deg), #f5f5f5);
                    color: #333;
                    font-size: 0.75rem;

                    .pokemon-measurements {
                        display: flex;
                        justify-content: space-between;
                        font-size: 0.85rem;
                        padding: 1rem 1rem 0;

                        p {
                            margin-bottom: 0.35rem;
                        }
                    }

                    .pokemon-stats {
                        @include display-gap(flex, 0.25rem);
                        flex-direction: column;
                        padding: 0 1rem 1rem;

                        .bar {
                            background: #444;
                            border-radius: 0.6rem;
                            height: 12px;
                            overflow: hidden;

                            .progress {
                                height: 100%;
                                width: 0;
                                transition: width 0.8s ease-out;

                                /* Bar Colors */
                                @each $name, $color in $stat-colors {
                                    &.#{$name} {
                                        background: $color;
                                    }
                                }
                            }
                        }
                    }

                    .btn-container {
                        margin-top: 0.7rem;
                        display: flex;
                        justify-content: center;

                        .know-more-btn {
                            @include display-gap(flex, 0.5rem);
                            background-color: #ff4081;
                            color: #fff;
                            font-weight: 600;
                            font-size: 14px;
                            border-radius: 1rem;
                            transition:
                                background-color 0.3s ease,
                                transform 0.2s ease;
                            animation: pulse 2s infinite;
                            padding: 0.25rem 1rem;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid #f30053;
                            width: 91%;
                            cursor: pointer;

                            &:hover {
                                @include transform(scale(1.05), #e91e63);
                                animation: none;
                            }
                        }
                    }
                }
            }
        }
    }

    mat-paginator {
        color: #fff;
        background-color: transparent;
        font-size: 0.75rem;
    }
}

/* Animation Styles */
@keyframes pulse {
    0% {
        @include transform(scale(1), null, 0 0 0 0 rgba(255, 64, 129, 0.6));
    }
    50% {
        @include transform(scale(1.05), null, 0 0 0 12px rgba(255, 64, 129, 0));
    }
    100% {
        @include transform(scale(1), null, 0 0 0 0 rgba(255, 64, 129, 0));
    }
}

/* Responsive Design Styles */
@include responsive-view(1200px, 20%);
@include responsive-view(992px, 25%);
@include responsive-view(768px, 33.33%);
@include responsive-view(480px, 50%, 0.5rem);
