/* Reusable Styles */
%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin measure($height: null, $width: null) {
    height: $height;
    width: $width;
}

@mixin transform($transform, $opacity: null) {
    transform: $transform;
    opacity: $opacity;
}

@mixin background($bg, $position: null) {
    background: $bg;
    position: $position;
}

/* Landing Page Styles */
.container {
    @extend %flex-center;
    @include measure(100vh);
    @include background(linear-gradient(90deg, #f8d030, #f08030, #ff416c));
    flex-direction: column;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-size: 300% 300%;
    animation: gradientShift 6s ease infinite;

    &::after {
        @include measure(100%, 100%);
        @include background(
            radial-gradient(circle, rgba(255, 255, 0, 0.5) 0%, rgba(255, 255, 0, 0) 80%),
            absolute
        );
        content: '';
        top: 0;
        left: 0;
        animation: sparks 2s infinite;
    }

    .logo {
        @include measure(null, 300px);
        margin: 1rem 0;
    }

    .pokeball {
        @extend %flex-center;
        @include measure(80vh, 75vh);
        @include background(linear-gradient(to bottom, #f00 50%, #fff 50%), relative);
        animation: bounce 1s infinite ease-in-out;
        overflow: hidden;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        border: 15px solid #000;
        margin-bottom: 1rem;
        padding: 0;
        z-index: 4;

        &:hover {
            box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
        }

        &::before {
            @include measure(50%, 100%);
            @include background(#fff, absolute);
            content: '';
            bottom: -10px;
            border-top: 20px solid #000;
        }

        &::after {
            @include measure(15vh, 15vh);
            @include background(#fff, absolute);
            content: '';
            border-radius: 50%;
            border: 10px solid #000;
        }

        button {
            @include measure(null, 15vh);
            @include background(none, absolute);
            z-index: 2;
            border: none;
            font-size: 18px;
            font-weight: bold;
            color: #000;
            cursor: pointer;

            &:hover {
                @include measure(15vh);
                @include background(#f00);
                color: #fff;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
                border-radius: 50%;
                font-size: 24px;
            }
        }
    }
}

/* Animation Styles */
@keyframes bounce {
    0%,
    100% {
        @include transform(translateY(0));
    }
    50% {
        @include transform(translateY(-20px));
    }
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes sparks {
    0%,
    100% {
        @include transform(scale(1), 0.5);
    }
    50% {
        @include transform(scale(1.5), 0.8);
    }
}
